.menutoggle {
    display: block;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: 2rem;
    height: 2rem;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;

    transition: transform 0.2s ease-in;
    transform: translateX(0rem);
}

.menutoggle.open {
    transform: translateX(19rem);
}